<div class="{{css.container}}">
  <h1 class="{{css.errNumber}}">404</h1>
  <p class="{{css.text}}">Упс! Такого у нас нет</p>
  <a class="{{css.backlink}}" href="chats.html" >Вернуться к чатам</a>
</div>
