<div class="site-wrapper">
  <div class="background--danger">
    <h1 class="error-page-header">500</h1>
    <p class="error-page-text">Critical panic mega error</p>
    <a href="chats.html" class="error-page-backlink">Убежать</a>
  </div>
</div>