@import "~/src/scss/mixins";

.root {
  @include root;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  display: block;
  width: 200px;
  height: 200px;
}
