@import "~/src/scss/variables";

.root {
  --col1-width: 40px;

  display: flex;
}

.col1 {
  width: var(--col1-width);

  .inputFile {
    padding: 5px;
    width: 100%;
    height: 100%;
  }
}

.col2 {
  flex-grow: 1;

  .inputText {
    display: block;
  }
}

.error {
  margin-top: 10px;
  margin-bottom: 20px;
  color: $attention-color;
  font-size: 10px;
}
