@import "./variables";

.siteWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
  background-color: $brand-color;
}

.dangerBg {
  background-color: $attention-color;
}

.notValid {
  border-color: $attention-color;
  outline-color: $attention-color;

  & + .validityMessage {
    display: block;
  }
}
