@import url("~/src/scss/variables");

.site-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  background-color: $brand-color;
}

.danger-bg {
  background-color: rgb(240 25 25);
}
