@import "./variables";

.siteWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: $brand-color;
}

.dangerBg {
  background-color: rgb(240 25 25);
}
